* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  height: 100%;
  max-width: 800px;
  margin: auto;
}

.row {
  height: calc(100%/6);
  width: 60vw;
  display: flex;
}

img {
  width: 100%;
}

.column-quarter {
  width: 25%;
  height: 100%;
}

.column-third {
  width: calc(100%/3);
  height: 100%;
}

.column-half {
  width: calc(100%/2);
  height: 100%;
}

.column-two-thirds {
  width: calc((100%/3) *2);
}
